.card {
  padding: $l-space $m-space;
  min-width: 90%;
  max-width: 700px;
  @include columnDisplay;
  text-align: center;

  background-color: $white;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.5);
  border-radius: 20px;

  @include medium {
    padding: $l-space;
  }
}