.saved__events {
  width: auto;
  margin-top: $m-space;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.link__button--google {
  margin-bottom: $l-space;
}