.newParty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newParty__fields {
  margin-bottom: 2em;

  * {
    margin-bottom: 0.5em;
    width: 100%;
    text-align: center;
  }

  @include medium {
    display: grid;
    grid-template-columns: 175px 1fr;
    grid-gap: 16px 24px;
    max-width: 500px;
  }

  label {
    @include medium {
      place-self: center end;
    }
  }
}

.newParty__button {
  background-color: crimson;
  border: 1px solid crimson;
  border-radius: 2px;
  color: white;
  padding: 1em 2.5em;
  transition: all 0.3s;

  &:hover {
    background-color: white;
    color: crimson;
  }
}